# initial mass ignore on osx
/.CFUserTextEncoding
/.DS_Store
/.Trash/
/.ansible/
/.bash_history
/.cups/
/.dropbox/
/.gem/
/.gitconfig
/.irssi/
/.lesshst
/.pentadactyl/
/.ruby-version
/.ssh/
/.subversion/
/.viminfo
/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/work/
