# working areas
/tmp
/work
/*.log

# overrides
/.host-name

# initial mass ignore
/.ansible/
/.bash_history
/.cups/
/.dropbox/
/.gem/
/.irssi/
/.lesshst
/.pentadactyl/
/.ssh/
/.ssh-agent
/.subversion/
/.viminfo

# osx
/.CFUserTextEncoding
/.DS_Store
/.Trash/
/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures/
/Public/

# npm
/.npm
/.node-gyp/
/node_modules
/npm-debug.log
/.v8flags.*.json

# bower
/.config/configstore

# dnsimple
/.dnsimple/
/.streamline/

# gcloud
/.config/gcloud
/.bash_profile.backup
/.bashrc.backup

# htop
/.config/htop
/.htoprc

# aws
/.aws
/.saws.log
/.sawsrc
/.saws-history
/.saws.shortcuts

# git
/github
/.config/hub

# elixir
/.hex/
/.mix/

# java
/.oracle_jre_usage

# pkgsrc
/install
/tmp/pkgsrc
/tmp/bootstrap

# cue
/.cue-scheme

# bash
/.bash_sessions

# vim
*.swp

# vmware
/.ovftool.ssldb

# virtualbox
/VirtualBox VMs
/.config/VirtualBox

# packer
/.packer.d

# app
/.bashrc.app
/Blockfile.txt

# ubuntu
/.aptitude
/.cache

# tugboat
/.tugboat

# secrets
/exec/home_secret
/.profile.d/*-secret

# leiningen
/.lein
/.m2
/.lein_history

# letsencrupt
/.local/share/letsencrypt
/letsencrypt.log

# docker
/.docker

# x11
/.Xauthority
/.rnd
/.serverauth*

# bundler
/.bundle

# cue
/.name

# vagrant
/.vagrant.d

# reviewboard
/.rbtools-cookies
/.reviewboardrc

# xmonad
/.cabal/
/.ghc/

# chef
/.chefdk

# berkshelf
/.berkshelf

# get
/.wget-hsts

# gnupg
/.gnupg
