[user]
	name = Tom Bombabil
	email = amanibhavam@destructuring.org
[push]
	default = simple
[url "git@github.com:"]
	insteadOf = git://github.com/
	insteadOf = https://github.com/
[url "git@bitbucket.org:"]
	insteadOf = git://bitbucket.org/
	insteadOf = https://bitbucket.org/
