# working areas
/tmp
/work
/*.log

# overrides
/.host-name

# initial mass ignore
/.ansible/
/.bash_history
/.sh_history
/.cups/
/.dropbox/
/.gem/
/.irssi/
/.lesshst
/.pentadactyl/
/.ssh/
/.ssh-agent*
/.subversion/
/.viminfo
authorized_keys

# osx
/.CFUserTextEncoding
/.DS_Store
/.Trash/
/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures/
/Public/

# npm
/.npm
/.node-gyp/
/node_modules
/npm-debug.log
/.v8flags.*.json
/.node_repl_history

# bower
/.config/configstore

# dnsimple
/.dnsimple/
/.streamline/

# gcloud
/.config/gcloud
/.bash_profile.backup
/.bashrc.backup

# htop
/.config/htop
/.htoprc

# aws
/.aws
/.assume-aws-role

# git
/github
/.config/hub

# elixir
/.hex/
/.mix/

# java
/.oracle_jre_usage
/.java

# pkgsrc
/install
/tmp/pkgsrc
/tmp/bootstrap

# cue
/.cue-scheme

# bash
/.bash_sessions

# vim
*.swp

# vmware
/.ovftool.ssldb

# virtualbox
/VirtualBox VMs
/.config/VirtualBox
/.vbox_version

# packer
/.packer.d

# app
/Blockfile.txt
/Blockfile.json.site

# ubuntu
/.aptitude
/.cache
/.bashrc.*
/.sudo_as_admin_successful

# tugboat
/.tugboat

# secrets
/exec/home_secret
/.profile.d/*-secret

# site specific
/bin/site

# leiningen
/.lein
/.lein_history

# letsencrupt
/.local/share/letsencrypt
/letsencrypt.log

# docker
/.docker

# x11
/.Xauthority
/.rnd
/.serverauth*

# bundler
/.bundle

# cue
/.name

# vagrant
/.vagrant.d

# reviewboard
/.rbtools-cookies
/.reviewboardrc

# xmonad
/.cabal/
/.ghc/

# chef
/.chefdk

# berkshelf
/.berkshelf

# get
/.wget-hsts

# gnupg
/.gnupg

# babel
/.babel.json

# sbt
/.sbt
/.ivy2/.sbt*

# services
/service
/sv

# jenkins
/.jenkins

# lxd
/.config/lxc

# terraform
/.terraform.d

# python
/vendor
/.ptpython
/.ipython

# homebrew
/.homebrew_analytics_user_uuid

# sinopia
/sinopia
/.config/sinopia

# jupyter
/.jupyter

# builds
cibuild-*.log

# local
/.local

# t
/.trc

# maven
/.m2/repository

# teamcity
/.BuildServer

# nexus
/.install4j

# cpan
/.cpan

# local::lib
/install-p5

# vault
.vault-token

# gpg
/.gpg-agent-info*
/.neoman/
/.yubioath/

# 
/.py*
